<h1>Create your account</h1>
<h2>Signup is easy and only takes a few seconds </h2>
<div class="formWrapper">
    <form id= "accountCreate" action="/api/users" method="POST">
        <div class="formError"></div>
        <div class="inputWrapper">
            <div class="inputLabel">First Name</div>
            <input type="text" name="firstName" placeholder="Jhon"/>
        </div>
        <div class="inputWrapper">
            <div class="inputLabel">Last Name</div>
            <input type="text" name="lastName" placeholder="Smith"/>
        </div>
        <div class="inputWrapper">
            <div class="inputLabel">email</div>
            <input type="text" name="email" placeholder="jhon_doe@abc.com"/>
        </div>        
        <div class="inputWrapper">
            <div class="inputLabel">Street Address</div>
            <input type="text" name="streetAddress" placeholder="Av.NN ..."/>
        </div>
        <div class="inputWrapper">
            <div class="inputLabel">Choose a Password</div>
            <input type="password" name="password" placeholder="Make it a good one!"/>
        </div>
        <div class="inputWrapper">
            <div class="inputLabel">Do you agree to the terms and conditions?</div>
            <input type="checkbox" name="tosAgreement" value="agree"/>
        </div>
        <div class="inputWrapper ctaWrapper">
            <div class="inputLabel"></div>
            <button type="submit" class="cta blue">Get Started</button>
        </div>
    </form>
</div>