<h1>Create your order</h1>
<h2>We will deliver this to you as soon as you order </h2>
<div class="formWrapper">
    <form id= "ordersCreate" action="/orders/new" method="POST">
        <div class="formError"></div>
        <div class="inputWrapper ctaWrapper">
            <div class="inputLabel"></div>
            <button type="submit" class="cta blue">Order</button>
        </div>
    </form>

    <div class="inputWrapper ctaWrapper">
        <div class="inputLabel"></div>
        <button id="addItem" class="cta blue">+</button>
    </div>

</div>